/*
dark-scarlet:   #5c0029;
taupe-gray:     #857c8d;
dark-sky-blue:  #94bfbe;
magic-mint:     #acf7c1;
cocount:        #8f5c38;
 */

/*
light-blue:     #DFE9F6;
dark-blue:      #293C8C;
light-beige:    #FBF7F4;
beige:          #F1E2D7;
 */

body {
    color: #293C8C;
    background-color: #FBF7F4;
    font-family: monospace;
}

.header-title {
    color: black;
    text-align: center;
}

.header-title h1 {
    font-family: helvetica;
    font-size: 3em;
}

.panel {
    width: 400px;
    margin: auto;
}

.input-field input {
    padding: 8px;
    width: 95%;
    margin-top: 10px;
}

.piece {
    background-color: #F1E2D7;
    padding: 12px;
    margin: 10px 0;
}

.skill {
    width: 70px;
    display: inline-block;
}

.level {
    font-size: 1em;
    display: inline-block;
}

.repertoire {
    margin: 20px 0;
    font-family: monospace;
}

.name {
    width: 250px;
    font-size: 1.25em;
    display: inline-block;
    padding: 5px 5px 5px 5px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    cursor: pointer;
}

.icon-remove {
    display: inline-block;
    background: transparent;
    border: none;
}

.icon-circle {
    width: 0.9em;
    height: 0.9em;
    padding: 5px;
}

.icon-playing {
    padding-right: 10px;
}

.icon-circle.inactive {
    opacity: 0.3;
}

h1 {
    font-family: sans-serif;
}

.showing {
    list-style: none;
    display: inline;
    padding: 5px;
    letter-spacing: 1.5px;
}

.showing a {
    padding: 5px;
    text-decoration: none;
}

.selected {
    border-bottom: 3px solid #293C8C;
}

.menu {
    text-align: center;
    padding-left: 0;
}